.bg-dark {
  background-color: #333;
}

.rounded-huge {
  border-radius: 1.5rem;
}

input.customize-input {
  -webkit-text-fill-color: #00b5ad;
  opacity: 0.8 !important;
  font-size: 1.5rem;
  border: none;
  width: 4rem;
}

.teal {
  color: #00b5ad;
}

.text-bigger {
  font-size: 1.5rem;
}
